@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300&display=swap');@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto", sans-serif;
}

/* Heading Styling */
h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-top: 5px;
}

li {
    margin-left: 1em;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #1b1b1b;
}

main {
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 5px;
    padding-bottom: 30px;
}

main > * {
    width: 70%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* Navigation bar styling */
nav {
    /* background-color: #1b1b1b; */
    background-color: #151515;
    position: fixed;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    height: 60px;
}

.nav-content {
    min-width: 50%;
}

.nav-content a {
    color: white;
    position: relative;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    flex: 1;
    padding-bottom: 5px;
}

nav a:hover {
    color: #9e9e9e;
}

/* About section styling */
.about-container {
    background-color: #151515;
    border: solid 2px #151515;
    border-radius: 8px;
    padding: 1.5em;
}

.about-info-container {
    gap: 20px;
}

.about-me {
    /* display: flex; */
    float: left;
    padding-top: 2%;
}

.about-text {
    /* flex: 70px; */
    width: 75%;
    font-size: 15px;
    line-height: 2rem;
}

.about-me-title {
    padding-left: 5px;
}

.about-me-text {
    padding-top: 10px;
    padding-left: 5px;
}

.about-image {
    /* flex: 30px; */
    width: 25%;
    justify-items: left;
}

.image {
    width: 90%;
    height: auto;
    border-radius: 8px;
}

/* Interests and Hobbies styling */
.interests-container {
    background-color: #151515;
    border: solid 2px #151515;
    border-radius: 8px;
    padding: 1.5em;
}

.interests-heading {
    margin-top: 60px;
}

.interests {
    display: flex;
}

.tech-interests {
    flex: 50px;
}

.hobbies {
    flex: 50px;
    padding-left: 20px;
}

/* Tech skills section styling */
.tech-skills-heading {
    margin-top: 60px;
}

.tech-skills {
    margin-top: -5px;
    justify-content: center;
    gap: 10px;
    background-color: #151515;
    border: solid 2px #151515;
    border-radius: 8px;
    padding: 1.5em;
    font-size: 20px;
}

.tech-skills-row-1 {
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    font-size: 22px;
}

.tech-skills-row-2 {
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    padding-top: 14px;
    font-size: 20px;
}

.tech-skills-row-3 {
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    padding-top: 14px;
    font-size: 20px;
}

/* Projects section styling */
.projects-heading {
    margin-top: 50px;
    padding-bottom: 20px;
}

#projects {
    gap: 20px;
    align-items: center;
}
  
.projects-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-rows: auto;
    margin-top: 5px;
}

.projects-container {
    background-color: #151515;
    border: solid 2px #151515;
    border-radius: 8px;
    padding: 1em;
    gap: 1em;
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    opacity: 1;
    transition: opacity 0.5s;
}

.project-image:hover {
    opacity: 0.2;
}
  
.project-desc {
    font-size: 16px;
}

.project-hashtags {
    font-size: 14px;
    font-style: italic;
}
  
.text-container {
    color: white;
    gap: 0.5em;
}

/* Contact section styling */
.contacts-heading {
    margin-top: 30px;
    padding-bottom: 20px;
}

.contacts-container {
    background-color: #151515;
    border: solid 2px #151515;
    border-radius: 8px;
    padding: 1.5em;
    font-size: 20px;
}

.contacts {
    display: flex;
    padding-top: 5%;
}

.contact-icons-container {
    background-color: #151515;
    border: solid 2px #151515;
    border-radius: 8px;
}

.contact-icon-1 {
    flex: 33px;
}

.contact-icon-2 {
    flex: 33px;
}

.contact-icon-3 {
    flex: 33px;
}

.contact-image {
    width: 40%;
    height: auto;
    border-radius: 8px;
}

.contact-icon-button {
    border: none;
    background-color: transparent;
}

.icon-button:hover {
    opacity: 0.2;
}

/* Footer styling */
footer {
    background-color: #151515;
    justify-content: center;
    padding: 18px;
    font-size: 15px;
    gap: 20px;
}